.heroText{
	color: white;
	text-align: center;
	font-size: 100px;
	font-weight: bold;
	font-family: 'Voltaire', sans-serif;
	margin-top: -364px;
 
}

.heroText2{
	color: white;
	text-align: center;
	font-size: 40px;
	padding: 0px 0px 0px 0px;
	font-family: 'Voltaire', sans-serif;
}

.arrowDown {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5%;
    padding: 40px;
 
}

.videoContainer {
	background-color: rgba(40, 54, 69, .5);
	height: 100%;
}

.form {
	padding: 20px;
}

video {
	object-fit: fill;
}



