.navbar {
    background-color: transparent;
    color: white;
    text-transform: uppercase;
    border: 0;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.navbar-brand {
    color: white;
    font-size: 32px;
    font-weight: bold;
}

.slogan {
    text-align: right;
}

