.roulette {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
}

.roulette-container {
  margin: -150px 150px 150px;
  display: flex;
  justify-content: center;
  padding: 5px;
  font-weight: bold;
}

.btn-default {
	background-color: #4daf6a;
	font-weight: bold;
	color: white;
}